{% extends "base.html" %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}
    {{ super() }}
    <h1>Lista de Repventas</h1>


    <table class="table table-striped">
      <tr>
           <th>ID</th>
           <th>Nombre</th>
           <th>Edad</th>
           <th>Oficina</th>
           <th>Titulo</th>
           <th>Contrato</th>
           <th>Director</th>
           <th>Subordinados</th>
           <th>Cuota</th>
           <th>Ventas</th>
           <th>Acciones</th>

       </tr>
    {% for repventa in repventas %}
       <tr>
           <td> {{ repventa.id_empleado }}</td>
           <td> {{ repventa.nombre }}</td>
           <td> {{ repventa.edad }}</td>
           <td> {{ repventa.repventas_oficina }}</td>
           <td> {{ repventa.titulo }}</td>
           <td> {{ repventa.contrato }}</td>
           <td> {{ repventa.director }}</td>

           <td> <select title="subordinados">
                  {% for subordinado in  repventa.vendedores_vendedor %}
                    <option value="{{ subordinado.id_empleado }}">{{subordinado}}</option>

                  {% endfor %}
                </select>
           </td>

           <td> {{ repventa.cuota }}</td>
           <td> {{ repventa.ventas }}</td>
           <td><a  class="btn btn-warning" href="#">Editar</a>

               <form  style="display: inline;"method=POST action="#">
                   <input  class="btn btn-danger " type="submit" value="Borrar">
               </form></td>

       </tr>

    {% endfor %}
    </table>

    <br>
     <a  class="btn btn-info" href="{{ url_for('repventaController.add') }}">Add Repventa</a>
{% endblock %}