{% extends "bootstrap/base.html" %}

    {% block head %}
        {{ super() }}
    {% endblock %}




    {% block content %}
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="https://github.com/fenix15100/RESTfullFlask" target="_blank">RestFullFlask</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Oficinas <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('oficinaController.showAll') }}">Ver Oficinas</a></li>
                    <li><a href="{{ url_for('oficinaController.add') }}">Añadir Oficina</a></li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Productos <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('productoController.showAll') }}">Ver Productos</a></li>
                    <li><a href="{{ url_for('productoController.add') }}">Añadir Producto</a></li>
                  </ul>
                </li>

              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Register</a></li>
                <li><a href="#">Login</a></li>

              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>

        <br>
        <br>
        <br>



        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="alert alert-info">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    {% endblock %}


