{% extends "base.html" %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}
    {{ super() }}


    <form method=post action="{{ url_for('productoController.add') }}" class="form form-horizontal" role="form" style="margin-left: 20%;">
        <h1>Añadir Producto</h1>
        <div class="form-group">
           <div class="col-md-3">
            {{ form.csrf_token }}
            {% for field in form if not field.name=='csrf_token'%}


                {% if field.type == "BooleanField" %}
                    <td></td>
                    <td>{{ field(class="form-control input-sm") }} {{ field.label }}</td>
                {% else %}

                    <td>{{ field.label }}{% if field.flags.required %}<span id="requerido">*</span>{% endif %}</td>
                    <td>{{ field(class="form-control input-sm") }}</td>
                {% endif %}

                {% if field.errors %}
                    <ul class="alert alert-warning">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
              <br>
            {% endfor %}
           <input  class="btn btn-success form-control" type=submit value="Add Producto">
           </div>
        </div>
    </form>
{% endblock %}